<div>

    <h2>Scripts</h2>

    <script type = "text/ng-template" id="scripts-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myScriptsLabel">Create or edit a Scripts</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id"
                           ng-model="scripts.id" readonly>
                </div>

                
                <div class="form-group">
                    <label>title:</label>
                    
                    <input type="text" class="form-control" name="title"
                           ng-model="scripts.title" ng-required="true"
                           />
                    <span class="error" ng-show="form.title.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.title.$error.maxlength">Must be at most  characters.</span>
                </div>
                
                <div class="form-group">
                    <label>author:</label>
                    
                    <input type="text" class="form-control" name="author"
                           ng-model="scripts.author" ng-required="true"
                           />
                    <span class="error" ng-show="form.author.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.author.$error.maxlength">Must be at most  characters.</span>
                </div>
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <button class="btn btn-primary btn-lg" ng-click="create()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Scripts
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                
                <th>title</th>
                
                <th>author</th>
                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="scripts in scripts">
                <td>{{scripts.id}}</td>
                
                <td>{{scripts.title }}</td>
                
                <td>{{scripts.author }}</td>
                
                <td>
                    <button type="submit"
                            ng-click="update(scripts.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="submit"
                            ng-click="delete(scripts.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
